<nav class="navbar navbar-expand-md navbar-light shadow-sm">
    <div class="container">
        <a href="/"><img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ffiles.softicons.com%2Fdownload%2Fapplication-icons%2Forb-icons-by-deleket%2Fpng%2F300x300%2FBlogger.png&f=1&nofb=1" alt="logo" style="height: 50px;"></a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form action="/logout?_method=DELETE" method="POST">
                    <button class="btn btn-dark" type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>       