@media only screen and (max-width: 992px) {
    main {
        padding: 0 100px;
        .card-auth {
            width: 60%;
        }
    }
}

@media only screen and (max-width: 768px) {
    main {
        padding: 0 60px;
        .card-auth {
            width: 70%;
        }
    }
}

@media only screen and (max-width: 520px) {
    main {
        padding: 0 30px;
        .card-auth {
            width: 80%;
        }
    }
}