<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mikalog | Register</title>
    <link rel="stylesheet" href="dist/css/app.css">
</head>
<body>
    <header>
        <div class="container flex">
            <div class="header-left">
                <a href="/"><img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ffiles.softicons.com%2Fdownload%2Fapplication-icons%2Forb-icons-by-deleket%2Fpng%2F300x300%2FBlogger.png&f=1&nofb=1" alt="logo"></a>
            </div>
            <div class="header-right">
                <button><a href="/login">Login</a></button>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <h1>Register</h1>
            <div class="card-auth">
                <form action="/register" method="POST">
                    <div>
                        <label for="name">Name</label>
                        <input required type="text" id="name" name="name">
                    </div>
                    <div>
                        <label for="email">Email</label>
                        <input required type="email" id="email" name="email">
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input required type="password" id="password" name="password">
                    </div>
                    <div class="form-button">
                        <button type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>