main {
    margin-top: 70px;
    padding: 0 200px;
    .card {
        margin: 30px 0;
        background-color: $color4;
        padding: 30px;
        box-shadow: 0 0 2px 0 $color2;
        small {
            display: block;
            padding-bottom: 20px;
            color: $color3;
        }
        &:hover {
            box-shadow: 0 0 3px 3px $color2;
            cursor: pointer;
        }
    }
    .card-auth {
        width: 50%;
        margin: 0 auto;
        background-color: $color4;
        padding: 30px;
        box-shadow: 0 0 2px 0 $color1;
        border-radius: 20px;
        label {
            display: block;
            padding-bottom: 5px;
        }
        input {
            width: 100%;
            margin-bottom: 20px;
            padding: 5px 20px;
        }
        .form-button {
            text-align: center;
            button {
                padding: 10px 30px;
                background-color: $color3;
                border-radius: 20px;
                font-size: 16px;
                font-weight: bold;
                margin-top: 20px;
                &:hover {
                    background-color: $color2;
                    color: $color4;
                }
            }
        }
    }
    .btn {
        padding: 5px 10px;
        font-size: 14px;
        font-weight: bold;
        background-color: transparent;
        a {
            font-size: 14px;
            font-weight: bold;
        }
        &:hover {
            color: white;
            a {
                color: white;
            }
        }
    }
    .btn-show:hover {
        background-color: darkkhaki;
    }
    .btn-edit:hover {
        background-color: royalblue;
    }
    .btn-delete:hover {
        background-color: indianred;
    }
    .new-row {
        text-align: center;
        padding: 50px 0;
        button {
            padding: 10px 20px;
            background-color: mediumseagreen;
            a {
                font-size: 25px;
            }
            &:hover {
                background-color: darkgreen;
            }
        }
    }
    .table-row {
        overflow-x: auto;
        table {
            thead {
                background-color: grey;
                color: white;
                th {
                    padding: 10px 0;
                }
            }
            tbody {
                font-size: 14px;
                tr {
                    td {
                        padding: 5px;
                    }
                    &:nth-child(even) {
                        background-color: gainsboro;
                    }
                    .small {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}